*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

scripts/flutter
scripts/enginehash.tmp
scripts/enginehash.tmp.csv
scripts/app-database.db
